# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.outRp.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Onur Fidan\Desktop\AltV ServerCode\lsc-rp\outRp\.idea\.idea.outRp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
